@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  background-color: #121212;
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
